<!DOCTYPE html>
<html>

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/index.js"></script>
    <title>Diário Digital</title>

</head>


<body style="overflow-y: hidden;">
    
    <!--Data-->
    <div>
        <h4 id='display_date'>DATA</h4>
    </div>

    <!--Texto de Entrada -->
    <div>
        <h4>Digite o Texto</h4>
        <textarea id="text" name="text_input" rows="4" maxlength="200" 
                    placeholder="Como foi o seu dia?"></textarea>
        <br><br>
    </div>

    <!--Botão de Previsão-->
    <div>
        <button id="predict_button" type="submit">Prever Emoção</button><br><br>
    </div>

    <!--Emoção Prevista-->
    <div>
        <p id="prediction" style="display:block"></p>
        <img id="emo_img_url" src="" width="55" min-height="50" alt="" 
        style="display:block">
    </div>

</body>

</html>